/* meditationcard */
.navbar-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  flex-wrap: wrap; /* Allow wrapping of list items */
}
.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #10c6db; /* Set the desired color for the title */
  transition: color 0.3s; /* Add a smooth transition effect */
}

.title:hover {
  color: #ff0000; /* Set the desired color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment as per your preference */
  margin: 0 -10px; /* Add negative margin to compensate for card spacing */
}

.navbar-list li {
  background: linear-gradient(rgba(220, 220, 255, 0.4) 85%, rgba(255, 255, 255, 0.5) 100%);
  border-top: 2px solid rgba(200, 200, 255, 0.5);
  border-bottom: 2px solid rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  padding: 3px 8px; /* Reduce padding for a smaller navbar */
  margin: 5px; /* Add margin between list items */
  flex: 1; /* Distribute items evenly in a row */
}

.navbar-list a {
  display: block;
  padding: 8px 10px; /* Reduce padding for a smaller navbar */
  font-size: 12px; /* Decrease font size for a smaller navbar */
  text-decoration: none;
  color: #7b2c2c;
  transition: all 0.4s;
}

.navbar-list a:hover {
  color: #4eacff;
  background-color: #c22c2c;
  box-shadow: 0 0 5px 0 rgba(83, 7, 7, 0.7);
}





.card-heading {
  font-size: 12px;
  color: #ff4081;
  text-align: center;
}

.card-image {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
  margin-bottom: 2px;
  font-size: 8px; /* Decrease font size for card content */
  font-family: Arial, sans-serif;
   /* Use suitable font */
}

.step-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scrollable-navbar-container {
  height: 100%;
width: 100%;
  height: 150px;
  overflow: auto;
  overflow-y: scroll;
}

.step-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.step-number {
  font-weight: bold;
  margin-right: 10px;
  color: #ff4081;
}

.video-navbar-container {
  text-align: center;
}

.timer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #001f3f; /* Dark blue color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #11CBD7, #FA4659);
  opacity: 0.8;
  z-index: -1;
}

.timer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 50%;
}

.timer span {
  position: relative;
  z-index: 1;
}

.timer .seconds {
  font-size: 24px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 8px;
}

.button-85 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 3px 2px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 5x;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* MeditationDetails.css */
.meditation-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card{
  background: transparent;
  backdrop-filter: blur(1.8rem);
}



.video-navbar-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
  height: 0;
}

.react-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  margin-bottom: 20px;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: #002bff;
}

/* .col-md-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

<<<<<<< HEAD

.card-body {
  font-family: "Roboto", sans-serif;
  font-size: 5px;
  /* Adjust the font size as needed */
}
=======
/* .card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
} */
>>>>>>> 7eddbbfdb70907dbe8ddfb3ee4faad289085ee11


.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}



.name {
  padding: 12px;
  font-size: 6px;
  color: #333;
}

.name:hover {
  color: #000;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}




@media all and (max-width: 75px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* navber */
.

/* Custom styling for the navbar links */
.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #a7daff;
}

/* Custom styling for the navbar brand/logo */
.navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* step */
/* Custom styling for the steps */
.step-list {
  list-style-type: decimal;
  /* padding-left: 20px; */
}

.step-item {
  margin-bottom: 10px;
}

.step-number {
  font-weight: bold;
  margin-right: 5px;
}

/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
/* 
<!-- HTML !-->
<button class="button-73" role="button">Button 73</button> */

/* CSS */
.button-li {
  appearance: none;
  background-color: #f59a9a;
  border-radius: 4em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size:0.5px;
  font-weight: 50;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  height: 25px;
  width: 200px;
  /* padding: 1rem 1.3rem; */
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-li:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-li:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-li {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

/* Style the video navbar-container */
.video-container {
  display: flex;
  justify-content: flex-start;
  height: 250px;
  width:500px;
}

.react-player-wrapper {
  position: relative;
  width: 60%;
 
}

/* Style the video player */
.react-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Adjust the margin for the steps section */

/* .section.steps-section {
  margin-right: 20px; /* Adjust the margin as needed */
/* } */

.video-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.react-player-wrapper {
  position: absolute;
  font-size: x-small;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

/* card videocontatineer 
 */

.video-navbar-container {
  position: relative;
  width: 100%;
 
}

.react-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;

}



.card-heading {
  margin-top: 10px;
  text-align: center;
}

.card-link {
  display: block;
  /* margin-top: 10px; */
  text-align: center;
  font-size:12px;
  /* padding: 0.5rem 1rem; */
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.card-link:hover {
  background-color: darkgray;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply animations to specific elements */
/* .card {
  animation: fade-in 0.5s ease-in-out, slide-up 0.5s ease-in-out;
} */

.video-navbar-container:hover {
  animation: shake 5s linear;
}

.card-heading {
  animation: pulse 5s infinite;
}

/* .card:hover {
  animation: shake 10s linear;
} */

/* .card {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
/* 
.card-content {
  padding: 1rem;
} */

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* .card-image {
  width: 100%;
  height: auto;
} */

@media (min-width: 320px) {
  .card {
    width: 288px;
  }
}

@media (min-width: 480px) {
  .card {
    width: 320px;
  }
}

/* @media (min-width: 768px) {
  .card {
    width: 320px;
  }
} */

/* @media (min-width: 1024px) {
  .card {
    width: 352px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 100vw;
  }
} */
/* Navbar.css */

/* Blurred background for benefits and problems sections */
.blur {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  list-style-type: none;
  margin: 0;
  padding: 0; margin-bottom: 10px; text-align: center;
  margin-top: 20px; backdrop-filter: blur(3px); /* Adjust the blur radius as needed */
}
/* Navbar.css */

/* Responsive styling for the video container */
/* .video-container {
  position: relative;
  padding-bottom: 56.25%;
   /* 16:9 aspect ratio (divide height by width)  */
  /* overflow: hidden; }*/

.video-container {
  position: relative;
  width: 640px;
  height: 360px;
  overflow: hidden;
}

.embed-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
