/* meditationcard */
.navbar-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  flex-wrap: wrap; /* Allow wrapping of list items */
}
.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #10c6db; /* Set the desired color for the title */
  transition: color 0.3s; /* Add a smooth transition effect */
}

.title:hover {
  color: #ff0000; /* Set the desired color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment as per your preference */
  margin: 0 -10px; /* Add negative margin to compensate for card spacing */
}

.navbar-list li {
  background: linear-gradient(rgba(220, 220, 255, 0.4) 85%, rgba(255, 255, 255, 0.5) 100%);
  border-top: 2px solid rgba(200, 200, 255, 0.5);
  border-bottom: 2px solid rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  padding: 3px 8px; /* Reduce padding for a smaller navbar */
  margin: 5px; /* Add margin between list items */
  flex: 1; /* Distribute items evenly in a row */
}

.navbar-list a {
  display: block;
  padding: 8px 10px; /* Reduce padding for a smaller navbar */
  font-size: 12px; /* Decrease font size for a smaller navbar */
  text-decoration: none;
  color: #7b2c2c;
  transition: all 0.4s;
}

.navbar-list a:hover {
  color: #4eacff;
  background-color: #c22c2c;
  box-shadow: 0 0 5px 0 rgba(83, 7, 7, 0.7);
}



.video-container-card {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container-card iframe,
.video-container-card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.step-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scrollable-navbar-container {
  height: 100%;
width: 100%;
  height: 150px;
  overflow: auto;
  overflow-y: scroll;
}

.step-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.step-number {
  font-weight: bold;
  margin-right: 10px;
  color: #ff4081;
}

.video-navbar-container {
  text-align: center;
}

.timer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #001f3f; /* Dark blue color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #11CBD7, #FA4659);
  opacity: 0.8;
  z-index: -1;
}

.timer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 50%;
}

.timer span {
  position: relative;
  z-index: 1;
}

.timer .seconds {
  font-size: 24px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 8px;
}

/* MeditationDetails.css */
.meditation-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}




.video-navbar-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
  height: 0;
}

.react-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  margin-bottom: 20px;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: #002bff;
}

/* .col-md-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
} */

.mrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

<<<<<<< HEAD

.card-body {
  font-family: "Roboto", sans-serif;
  font-size: 5px;
  /* Adjust the font size as needed */
}
=======
/* .card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
} */
>>>>>>> 7eddbbfdb70907dbe8ddfb3ee4faad289085ee11


.card {
  color: #10c6db;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}



.name {
  padding: 12px;
  font-size: 6px;
  color: #333;
}

.name:hover {
  color: #b31717;
}


.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}




@media all and (max-width: 75px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* navber */
.

/* Custom styling for the navbar links */
.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #a7daff;
}

/* Custom styling for the navbar brand/logo */
.navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* step */
/* Custom styling for the steps */
.step-list {
  list-style-type: decimal;
  /* padding-left: 20px; */
}

.step-item {
  margin-bottom: 10px;
}

.step-number {
  font-weight: bold;
  margin-right: 5px;
}

/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
/* 
<!-- HTML !-->
<button class="button-73" role="button">Button 73</button> */


/* button steps */
.button-li {
  border-radius: 50px;
  border-style: initial;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
}

.demo-btn {
  background-color: #c2fbd7;
  color: green;
  cursor: pointer;
  display: none;
  transition: all 200ms;
}

@media screen and (min-width: 1024px) {
  .demo-btn {
    display: inline-block;
  }
}

.button-li svg {
  margin-right: .5em;
}

.demo-btn:hover {
  background-color: #afe6c3;
  transform: scale(1.05);
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

/* CSS */
.button-li {
  appearance: none;
  background-color: #f59a9a;
  border-radius: 4em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size:100%;
  font-weight: 50;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  height: 25px;
  width: 200px;
  /* padding: 1rem 1.3rem; */
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-li:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-li:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-li {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.button-85 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px;
}


/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}<!-- HTML !-->
<button class="button-64" role="button"><span class="text">Button 64</span></button>

/* CSS */
<!-- HTML !-->
<button class="button-82-pushable" role="button">
  <span class="button-82-shadow"></span>
  <span class="button-82-edge"></span>
  <span class="button-82-front text">
    Button 82
  </span>
</button>

/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.button-85:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* Style the video navbar-container */
.video-container {
  display: flex;
  justify-content: flex-start;
  height: 250px;
  width:500px;
}

.react-player-wrapper {
  position: relative;
  width: 60%;
 
}

/* Style the video player */
.react-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Adjust the margin for the steps section */

/* .section.steps-section {
  margin-right: 20px; /* Adjust the margin as needed */
/* } */

.video-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.react-player-wrapper {
  position: absolute;
  font-size: x-small;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

/* card videocontatineer 
 */

.video-navbar-container {
  position: relative;
  width: 100%;
 
}

.react-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;

}



.card-heading {
  margin-top: 10px;
  text-align: center;
}
/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

.inherited-styles-for-exported-element {
  color: #333;
  font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 100%;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.card {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 2px 0;
  box-sizing: border-box;
  transition: all 350ms;
}

.card-example {
  display: inline-block;
  margin: 0;
  max-width: 300px;
  padding: 8px;
  text-align: left;
}

.card-body {
  font-size: .9em;
  padding: 0 .8em;
  text-align: left;
}

.card-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: .8em;
}

.card-desc {
  color: #999;
  margin-top: 0;
}

.card-image {
  border-radius: 7px;
  max-height: 200px;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.card-image img {
  height: auto;
  overflow: hidden;
  transition: all 200ms;
  width: 100%;
}

.components {
  -webkit-box-flex: 1;
  align-self: center;
  flex: 1;
  text-align: center;
}

.card-example:hover {
  box-shadow: rgba(0, 12, 32, .04) 0 0 1px 0, rgba(0, 12, 32, .04) 0 10px 16px 0;
}

.card-desc .fa-arrow-right {
  float: right;
}

.svg-inline--fa.fa-w-14 {
  width: .875em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.card-example:hover .card-image img {
  opacity: .9;
}
.card-link{
  text-align: center;
  align-items: center;
  font-size:16px;
  
}

/* .card-link {
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  display: block;
  margin-top: 10px;
 
  padding: 0.5rem 1rem;
  background-color: blur;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
  color: #14cc1d;
}

.card-link:hover {
  background-color:blur;
} */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply animations to specific elements */
/* .card {
  animation: fade-in 0.5s ease-in-out, slide-up 0.5s ease-in-out;
} */

.video-navbar-container:hover {
  animation: shake 5s linear;
}

.card-heading {
  animation: pulse 5s infinite;
}

/* .card:hover {
  animation: shake 10s linear;
} */

/* .card {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */


/* 
.card-content {
  padding: 1rem;
} */

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.card{
  background: transparent;
  backdrop-filter: blur(1.8rem);
}
/* .card-image {
  width: 100%;
  height: auto;
} */

@media (min-width: 320px) {
  .card {
    width: 288px;
  }
}

@media (min-width: 480px) {
  .card {
    width: 320px;
  }
}

/* @media (min-width: 768px) {
  .card {
    width: 320px;
  }
} */

/* @media (min-width: 1024px) {
  .card {
    width: 352px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 100vw;
  }
} */
/* Navbar.css */

/* Blurred background for benefits and problems sections */
.blur {
  background-color: rgba(228, 22, 22, 0.5); /* Adjust the opacity as needed */
  list-style-type: none;
  margin: 0;
  padding: 0; margin-bottom: 10px; text-align: center;
  margin-top: 20px; backdrop-filter: blur(3px); /* Adjust the blur radius as needed */
}
/* Navbar.css */

/* Responsive styling for the video container */
/* .video-container {
  position: relative;
  padding-bottom: 56.25%;
   /* 16:9 aspect ratio (divide height by width)  */
  /* overflow: hidden; }*/

.video-container {
  position: relative;
  width: 640px;
  height: 360px;
  overflow: hidden;
}

.embed-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}