.timer-content {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}



.timer {
  position: relative;
  font-size: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #df6dc3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(152, 226, 33, 0.2);
  overflow: hidden;
}

.timer:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #333;
  box-sizing: border-box;
  z-index: 1;
  animation: wave 5s linear infinite;
}

.timer:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #333;
  box-sizing: border-box;
  z-index: 2;
  animation: wave 2s linear infinite;
  opacity: 50%;
}

@keyframes wave {
  0% {
    transform: scale(1) rotate(15deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(2) rotate(360deg);
    opacity: 0.4;
  }
}




.button-container {
  margin-top: 10px;
}

.reset-button {
  padding: 4px 5px;
  background-color: #333;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reset-button {
  font-size: 10px;
  font-weight: bold;
  padding: 4px 5px;
  background-color: #333;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  letter-spacing: 1px;
  outline: 0;
  border: solid rgb(34, 206, 57);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset-button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.reset-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .reset-button {
    padding: 5px 15px 2px;
  }
}
