.about-us-container {
  animation: fade-in 1s ease-in-out; /* Apply fade-in animation to the entire container */
  width: 80%;
  margin: auto;
}

.img-div {
  overflow: hidden;
}

.about-us-container img {
    width: 90%;
    height: 100%;
    margin: 20px;
    border-radius: 2rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.about-us-heading {
  font-size: 6rem;
  color: black;
  text-align: center;
  margin: 20px 0;
  font-family: 'Chela One', cursive;
}

.about-us-subheading {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(230, 0, 255);
  color: rgb(92, 43, 90);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Pacifico', cursive;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-us-description {
    font-size: 2rem;
    color: rgb(137, 58, 135);
    line-height: 1.5;
    margin-top: 2rem;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Pacifico', cursive;
}

.accord-heading1 {
  font-family: 'Chela One', cursive;
  color: rgb(255, 106, 131);
  color: white;

}

.accord-heading2 {
  font-family: 'Chela One', cursive;
  color: rgb(255, 106, 131);
}

.acco-p {
  font-family: 'Pacifico', cursive;
  color: rebeccapurple;
  font-size: 2rem;
}

.acco-p1 {
  font-family: 'Pacifico', cursive;
  color: rgb(255, 106, 131);
  color: lavenderblush;
  font-size: 2rem;
}