.about-us-container {
  animation: fade-in 1s ease-in-out; /* Apply fade-in animation to the entire container */
  width: 80%;
  margin: auto;
}

.about-us-container img {
    width: 90%;
    height: 400px;
    margin: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-us-heading {
  font-size: 4rem;
  font-weight: bold;
  color: lavenderblush;
  text-align: center;
  margin: 20px 0;
  animation: slide-in 1s ease-in-out; /* Apply slide-in animation to the heading */
}

.about-us-subheading {
  font-size: 3rem;
  font-weight: bold;
  color: #666;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: color 0.3s ease; /* Apply color transition to subheadings */
}

.about-us-subheading:hover {
  color: #ff6b6b;
}

.about-us-description {
    font-size: 2rem;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
    animation: fade-in 1s ease-in-out; /* Apply fade-in animation to the descriptions */
  }
  
  /* Add hover effect to descriptions */
  .about-us-description:hover {
    color: #ff6b6b;
    cursor: pointer;
  }
  
  /* Add transition for hover effect */
  .about-us-description:hover {
    color: #ff6b6b;
    cursor: pointer;
  }
  
  /* Apply animation to subheadings and descriptions on hover */
  .about-us-subheading:hover ~ .about-us-description {
    animation: slide-in 0.5s ease-in-out;
  }
  
  /* Add spacing between sections */
  .about-us-subheading:not(:first-child) {
    margin-top: 30px;
  }
  
  /* Apply animation to subheadings and descriptions on hover */
  .about-us-subheading:hover ~ .about-us-description {
    animation: slide-in 0.5s ease-in-out;
  }