
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }

  /* body{

  } */

  /* main{ */
    /* padding: 0; */
    /* height: calc(100vh - 1rem); */
    /* border: 2px solid red; */
  /* } */
  
  .profile_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    /* background-color: red; */
  }
 
  .container {
    padding: 2rem;
    /* width: 35rem;
    height: 45rem; */
    border-radius: 1rem;
    -webkit-box-shadow: 0 1rem 2rem rgba(31, 38, 135, 0.37);
    box-shadow: 0 1rem 2rem rgba(31, 38, 135, 0.37);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-backdrop-filter: blur(1.8rem);
    backdrop-filter: blur(1.8rem);
    color: #fff;
    text-align: center;
    max-width: 35rem;
    /* margin: 25%; */
  }
  
  .container .imgbox {
    width: 15rem;
    height: 13rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .container .imgbox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .imgbox img:hover{
    transform: rotateY(180deg);
  }

  .profile{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .profileField{
    display: flex;
    margin-top: .5rem;
    padding: 0 1rem ;
  }

  .profileField h4{
    /* margin-left: 1rem; */
    font-size: 1.5rem;
  }
  
  .profileField h4:first-child{
    /* border:1px solid red; */
    width: 65px;
    text-align: left;
  }

  .updateBtn{
    padding: 1rem;
    background-color: #1778f2;
    margin: 1rem;
    margin-top: 3rem;
    font-size: larger;
    cursor: pointer;
  }


  input{
    margin-left: 1rem;
    width: 100%;
    outline: none;
    border: 2px solid black;
    border-bottom: 2px solid black;
    background: transparent;
    color:white;
    font-size: 1.5rem;
    padding: 4px 10px;
  }
  
  
  .container .intro-text {
    margin: 1rem;
  }
  
  .container .intro-text h1 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  .container .intro-text p {
    font-size: 1.4rem;
    opacity: 0.5;
  }
  
  .container span {
    text-transform: capitalize;
    font-size: 1.7rem;
    letter-spacing: 0.1;
  }
  
  .container .btn-group button {
    margin: 1.5rem 0.7rem;
    padding: 1rem 2.2rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0.4rem;
    font-size: 1.5rem;
  }
  
  .container .btn-group button:nth-of-type(2) {
    background-color: transparent;
  }
  
  .container .social-links {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .container .social-links button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
  }
  
 #bh:hover{
    transform: scale(1.2);
 }
  .container .social-links button i {
    font-size: 1.8rem;
  }
  
  .container .social-links button:nth-of-type(1) {
    background-color: #1778f2;
  }
  
  .container .social-links button:nth-of-type(2) {
    background-color: #1da1f2;
  }
  
  .container .social-links button:nth-of-type(3) {
    background-color: #c8232c;
  }
  
  .container .social-links button:nth-of-type(4) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feda75), color-stop(#fa7e1e), color-stop(#d62976), color-stop(#962fbf), to(#4f5bd5));
    background-image: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  }
  
  .blob {
    position: absolute;
    width: 50rem;
    height: 50rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 184, 255, 0.42)), to(#5c9df1));
    background-image: linear-gradient(180deg, rgba(47, 184, 255, 0.42), #5c9df1);
    mix-blend-mode: overlay;
    -webkit-animation: move 15s linear infinite alternate;
            animation: move 15s linear infinite alternate;
  }
